@import "tailwindcss";

@theme inline {
  /* 🌈 Colors */
  /* Primitives */
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #f5a500;
  /* Semantics */
  --color-dark: var(--color-black);
  --color-light: var(--color-white);
  --color-brand: var(--color-orange);

  /* ✍️ Typography */
  --font-body: var(--font-body-montserrat-sans);
  --font-heading: var(--font-heading-phosphate-solid);
  --font-heading-em: var(--font-heading-phosphate-inline);
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-body-montserrat-sans);
}
